.item{
    display: flex;
    align-items: center;
}

.status{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* background-color: green;  */
}
.statusOnline{
    background-color: green;
}

.statusOffline{
    background-color: red;
}